<p>Email:
    <input type="text" name="Email" size="30"
    maxlength="30" />
</p>
<p>Text</p>
    <textarea name="comments" cols="50" rows="8">Type here...</textarea>
</p>
<input type="submit" name="Submit" value="Submit">
</form>