 <div id="header">
      <img src="Images/DAT514Logoedit.jpg" class="w-100" alt="Logo">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/Home">Home<span class="sr-only">(current)</span></a>
        </li>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/photography">Photography</a>
          <a class="dropdown-item" href="/drawings">Drawings</a>
          <a class="dropdown-item" href="/digital">Digital Designs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Upload">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/Profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="nav grid_7">
      <a href="http://127.0.0.1:5500/Index.html">Home</a>  
      <a href="">Categories</a>  
      <a href="http://127.0.0.1:5500/Upload.html">Upload</a>  
        <a href="">Leaderboard</a>  
        <a href="http://127.0.0.1:5500/Contact.html">Contact</a>
        </div>
    </div> -->
  <div>
  <div class="wrapper"> 
      <div class="main-story container_12">
        <div class="mx-auto" style="width: 200px;">
              <h1>C.A.P</h1>
              <p class="text-lg-centre">Competitive Art Posting</p>
      </div>

      <!-- <select id="Categories" name=" Categories">
        <option value="Categories">Categories</option>
        <option value="Photography">Photography</option>
        <option value="Drawings">Drawings</option>
        <option value="Digital Designs">Digital Designs</option>
    </select><br> -->
    
    <div id="gallery">
      <img src="Images/MGunit5finaldesign.jpg" data-tags="Digital Designs" alt="Forest" width="200" height="200">
      <img src="Images/IMG_0462.jpg" data-tags="Photography" alt="Water Tower" width="200" height="200">
      <img src="Images/IMG_3404.jpg" data-tags="Photography" alt="Church" width="200" height="200">
      <img src="Images/MGgamestyle7.jpg" data-tags="Digital Designs" alt="Alton Towers" width="200" height="200">
      <img src="Images/IMG_1765.jpg" data-tags="Photography" alt="Beach" width="200" height="200">
      <img src="Images/IMG-3507.jpg" data-tags="Drawings" alt="Stegosaurus" width="200" height="200">
      <img src="Images/IMG-3506.jpg" data-tags="Drawings" alt="Triceratops" width="200" height="200">
      <img src="Images/TLondon1.jpg" data-tags="Digital Designs" alt="London" width="200" height="200">
      <img src="Images/IMG-3505.jpg" data-tags="Drawings" alt="T-Rex" width="200" height="200">
      <img src="Images/MGLizardPoint.jpg" data-tags="Digital Designs" alt="Cliff" width="200" height="200">
      <img src="Images/Lighthouse8.jpg" data-tags="Digital Designs" alt="Lighthouse" width="200" height="200">
      <img src="Images/IMG_1202(1)(1).jpg" data-tags="Photography" alt="Dog" width="200" height="200">
      <img src="Images/IMG_2928.jpg" data-tags="Photography" alt="Sunset" width="200" height="200">
      <img src="Images/River2MG.jpg" data-tags="Digital Designs" alt="River" width="200" height="200">
      <img src="Images/IMG_0091.jpg" data-tags="Photography" alt="Shark" width="200" height="200">
      <img src="Images/IMG_0436.jpg" data-tags="Photography" alt="Bridge" width="200" height="200">
      
     