<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lens</td>
            <td>7</td>
            <td>Photography</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Effect</td>
            <td>6</td>
            <td>Digital Designs</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sketch</td>
            <td>3</td>
            <td>Drawings</td>
          </tr>
        </tbody>
      </table>