<div id="header">
      <img src="Images/DAT514Logoedit.jpg" alt="Logo" class="w-100" alt="Logo">
      <div class="mx-auto" style="width: 200px;">
      <h1>C.A.P</h1>
  </div>

<form action="/signin" method="POST">
    <p>Username:
        <input type="text" name="username" size="15"
        maxlength="30"  />
    </p>
    <p>Password:
        <input type="password" name="password" size="15" maxlength="30">
    </p>
    <input type="submit" value="Sign In">
</form>