<p>Profile Name:
    <input type="text" name="Profile name" size="50"
    maxlength="50" />
</p>
<p>Email:
    <input type="text" name="Email" size="50"
    maxlength="50" />
</p>

<button type="button" class="btn btn-primary">Sign Out</button>